[2020-09-08 20:05] imemya19 opened #3 "Create User Signup Signin"

[2020-09-09 13:52] tripathyprateek commented on #3
#5 solves most of the issues. Frontend is remaining. Please review.

[2020-09-10 14:27] #3 closed

[2020-09-10 14:29] gauravdas014 opened #10 "Create a user schema"
It should have the basic things of user , eg: Name, email, phone, password. Other things will be added later on

[2020-09-10 14:30] gauravdas014 opened #11 "Create an admin schema"
Create an admin schema . It should have the basic things as of now. Name, email, phone , password. Other things will be added later on.

[2020-09-10 14:33] gauravdas014 opened #12 "User authentication : Sign up"
Build a sign up system from scratch. We won't be using things like passport js. Use bcrypt js for hashing the things. You can work on this issue once the user schema is created.

[2020-09-10 14:34] gauravdas014 opened #13 "User authentication : Login"
Make the user login system. Don't use passport js. Use login system built from scratch.

[2020-09-10 14:47] Shubham-1105 commented on #10
I want to work on this

[2020-09-10 15:02] eternal-dreamer commented on #11
I want to work on this.

[2020-09-10 15:05] joharikushagra commented on #12
I can work on this

[2020-09-10 15:15] joharikushagra commented on #13
I can work on this

[2020-09-10 16:10] tripathyprateek commented on #13
If no one is assigned, I would like to work on this. But this requires completion of previous tasks of Database schema and Signup demo ready.

[2020-09-11 02:33] gauravdas014 commented on #13
@tripathyprateek  I am assigning you this task. Do this once the signup is done

[2020-09-11 02:38] gauravdas014 opened #14 "Add response status codes in the readme file"
As we are making an API so we would have to send response status codes. Therefore we should have the status codes (those which are commonly used) mentioned in the readme file of the backend, so that everyone uses the same set of status codes.

[2020-09-11 03:01] salil-naik opened #15 "Create a blog-card component"
Kindly refer to the design and make the blog card. All the dimensions should be pixel perfect. User variables wherever necessary.

[2020-09-11 03:05] gauravdas014 opened #16 "Make a story schema"
It should have name, author, make author reference type. One field for storing the image for the story. Time when the story was posted. Heading of the story.

[2020-09-11 03:10] salil-naik opened #17 "Make a footer component."
Kindly refer to the design and make the footer. All the dimensions should be pixel perfect. Use scss variables wherever necessary.

[2020-09-11 03:18] sonali-singh97 commented on #15
I would like to work on this issue.

[2020-09-11 03:21] salil-naik opened #18 "Update the existing header component."
Refer to the design (Header 2 frame) and add the button and avatar to the existing header components. These two elements will be shown only when the user is logged in. Use states in React.

[2020-09-11 03:23] salil-naik opened #19 "Make a form input element"

[2020-09-11 03:29] ruchikamuddinagiri commented on #16
Hi, I would like to work on this!

[2020-09-11 03:46] shwetalsoni commented on #19
I want to work on this

[2020-09-11 04:09] m-code12 commented on #17
I would like to take this up.

[2020-09-11 04:15] abdus commented on #18
I will be working on this.

[2020-09-11 04:33] pratikbaid3 commented on #14
I can add it.

[2020-09-11 04:46] priyanshisharma commented on #18
I want to work on this issue.

[2020-09-11 05:06] abdus commented on #18
@salil-naik I was the first one to claim this issue /s

[2020-09-11 07:35] pratikbaid3 commented on #14
#20

[2020-09-11 07:47] joharikushagra commented on #17
I want to work on this

[2020-09-11 07:53] Shubham-1105 commented on #17
I would want to work on this

[2020-09-11 08:24] nanda-mik commented on #11
I want to contribute the admin schema!

[2020-09-11 08:42] #14 closed

[2020-09-11 08:44] nanda-mik commented on #10
I want to contribute this!

[2020-09-11 09:55] Shubham-1105 commented on #10
@nanda-mik I was already assigned and have made a PR

[2020-09-11 12:03] salil-naik commented on #18
@abdus I appreciate your work on the header. But this issue is assigned to some other participants.

In the frontend, the tasks are distributed beforehand to the participants so that everyone gets a fair chance to contribute.

[2020-09-11 12:59] m-code12 commented on #17
@salil-naik I was the first one to claim this issue. Also, I haven't made my contribution to this repo. So, it would be great if you could assign me.

[2020-09-11 13:36] salil-naik commented on #17
@m-code12  I appreciate your enthusiasm to work on this issue. But this issue is assigned to some other participant.

In the frontend, the tasks are distributed beforehand to the participants so that everyone gets a fair chance to contribute.

We are communicating over a WhatsApp group. If you are interested in contributing to the frontend, kindly ping me on slack.

[2020-09-11 14:05] nanda-mik commented on #13
i can contribute this!

[2020-09-11 14:21] abdus commented on #18
@salil-naik how would people know? this issue was open for around an hour or so. and AFAIK, I am also a participant.
maybe you should assign people right after creating the issue(as they already distributed somewhere else).
or at least define the ways of claiming an issue.

anyways, I won't be troubling with anymore pull-requests for front-end part.
good day.

[2020-09-11 14:45] nanda-mik commented on #13
Yes i would like to work on reset-password functionality!

[2020-09-11 14:55] gauravdas014 commented on #13
Let me assign you.

[2020-09-11 15:00] gauravdas014 opened #25 "Work on reset password functionality."
Use bcrypt js for encrypting the password. Use nodemailer to send the reset password email. On clicking the link user will have the option to enter new password and confirm password. Encrypt the password and save it to database. Let the user schema be created first then work on this

[2020-09-11 15:02] gauravdas014 commented on #13
@nanda-mik Comment on the issue I just created

[2020-09-11 15:03] Shubham-1105 commented on #25
I am working on the user schema,so i can implement it.

[2020-09-11 15:06] gauravdas014 commented on #25
One participant has already told me that he wants to work on this issue. So I won't be able to assign you this issue. Don't worry I will assign some other issue

[2020-09-11 15:16] nanda-mik commented on #25
I will contribute to the reset-password functionality!

[2020-09-11 16:27] #10 closed

[2020-09-11 18:08] #16 closed

[2020-09-12 04:10] gauravdas014 opened #27 "Implement Swagger"
Implement Swagger to document the REST APIs. So that the frontend developers can easily look into it and get the required endpoints easily

[2020-09-12 04:15] gauravdas014 opened #28 "Bug in user schema"
Make the following changes to the user schema:
1. Remove trim from the password field
2. Use naming convention such as  firstName instead of firstname

[2020-09-12 04:35] abdus commented on #27
I want to work on this.

[2020-09-12 04:35] gauravdas014 opened #29 "Add create story controller function"
Under controllers directory in userController create a function to create a story . (It's for the scenario when users will write some story (post) ). Add a route and link this to the controller function. Please attach a screenshot of the response in the PR ( Test in postman)

[2020-09-12 04:39] pratikbaid3 commented on #29
I can work on this

[2020-09-12 04:40] gauravdas014 opened #30 "Add get all stories controller function"
Add a controller function to get all the stories. Add a route as well. Attach a screenshot of the response in the PR. (response from postman)

[2020-09-12 04:41] gauravdas014 opened #31 "Add get a single story controller function"
Add a controller function to get a single story. Attach response from postman in the pr.

[2020-09-12 04:46] gauravdas014 opened #32 "Add a controller function to update a story"
Add a controller function to update a story. Attach Screenshot of the postman response in pr.

[2020-09-12 04:47] gauravdas014 opened #33 "Add a controller function to delete story"
Add a controller function to delete a story. Attach Screenshot of the postman response in pr.

[2020-09-12 04:57] pratikbaid3 opened #34 "Improve readme for backend to include database information"
Improve the readme for the backend to include the setup, installation and usage guide for mongo db.

[2020-09-12 06:29] nanda-mik commented on #30
I would like to work on this!

[2020-09-12 06:31] nanda-mik commented on #28
i can work on this!

[2020-09-12 06:50] gauravdas014 commented on #30
Complete already allotted task first

[2020-09-12 06:51] gauravdas014 commented on #28
Complete already allotted task first

[2020-09-12 07:54] nanda-mik commented on #30
completed!

[2020-09-12 07:55] nanda-mik commented on #28
completed!

[2020-09-12 09:10] #28 closed

[2020-09-12 09:21] #25 closed

[2020-09-12 09:23] gauravdas014 commented on #30
There are many beginners. So I will be allotting this task to them. Don't worry you will be allotted some other task. Let us help everyone contribute and learn, especially the beginners

[2020-09-12 09:27] abdus commented on #32
assign me

[2020-09-12 11:02] ruchikamuddinagiri commented on #31
I would like to work on this.

[2020-09-12 13:43] nanda-mik commented on #30
fine!

[2020-09-12 14:37] pkspyder007 opened #39 "Add husky for git hook and prettier."
I would like to work on this.

[2020-09-12 19:37] Shubham-1105 commented on #33
I want to work on this

[2020-09-13 09:13] eternal-dreamer commented on #34
I want to work on this issue.

[2020-09-13 14:30] #18 closed

[2020-09-13 17:19] #27 closed

[2020-09-13 17:26] gauravdas014 opened #43 "Create Organization schema"
Create an organization schema. It should includes fields name, email, totalMembers, password. These fields are enough for now. We will add other fields later on.

[2020-09-13 19:17] #31 closed

[2020-09-13 19:45] #11 closed

[2020-09-14 02:59] salil-naik commented on #19
Issue solved.

https://github.com/girlscript/feminist-bible-phase-2/commit/62bc5db6da0e36346f3d23cd243315d7c9329079

[2020-09-14 02:59] #19 closed

[2020-09-14 03:53] salil-naik opened #47 "Error and validation UI for input component."

[2020-09-14 03:55] pkspyder007 commented on #47
I am ready to work on it. 👍

[2020-09-14 05:10] salil-naik opened #48 "UI for code-of-conduct page"
1. Follow CSS BEM architecture.
2. Make a separate SCSS file for this page.
3. Do not compile scss.

[2020-09-14 05:12] Sshivani-12 commented on #48
I am interested!

[2020-09-14 06:10] ruchikamuddinagiri commented on #30
I'd like to take this, if it's still open?

[2020-09-14 09:44] salil-naik opened #50 "UI for blog page"
Follow CSS BEM architecture.
Make a separate SCSS file for this page.
Do not compile scss.

[2020-09-14 09:44] Shubham-1105 commented on #50
Assign me this

[2020-09-14 10:12] salil-naik opened #51 "Avatar component"
1. Follow CSS BEM architecture.
2. Use the existing avatar.scss file. Rename it to _avatar.scss
3. Do not compile scss.

[2020-09-14 10:13] priyanshisharma commented on #51
I'm working on this

[2020-09-14 10:27] shagun0915 commented on #43
Hey, I want to work on this issue

[2020-09-14 13:09] gauravdas014 opened #53 "Bug: Wrong status code in swagger docs"
On sign up route in the swagger docs the status code 200 is used, whereas the code for created is 201. It should be corrected.

[2020-09-14 14:18] #32 closed

[2020-09-14 14:36] abdus opened #55 "CI/CD for API and FrontEnd"
automatically
- run test cases for front-end and API codebase on each Pull Request (requirement: add database URI to repo secrets)
- deploy frontend to github-pages on new commits to master (gh pages needs to be turned on in `gh-pages` branch)

[2020-09-14 16:28] #39 closed

[2020-09-15 16:34] #34 closed

[2020-09-15 18:06] #12 closed

[2020-09-15 18:16] #53 closed

[2020-09-15 18:19] gauravdas014 opened #63 "Create a controller function to get all organizations"

[2020-09-16 04:46] #55 closed

[2020-09-16 05:42] #51 closed

[2020-09-16 06:58] salil-naik commented on #15
This issue is solved
https://github.com/girlscript/feminist-bible-phase-2/commit/8e3af1bc8a00d79295ab7d72c9fdffd5f758c56b

[2020-09-16 06:58] #15 closed

[2020-09-16 07:05] salil-naik commented on #47
The issue is solved. #52

[2020-09-16 07:05] #47 closed

[2020-09-16 07:11] salil-naik opened #64 "Make registration page."
Refer to the design.

- [ ] Add validations for email and password fields.
- [ ] Use existing `header` and `input` components.

[2020-09-16 07:12] pkspyder007 commented on #64
I can work on this.

[2020-09-16 07:27] salil-naik opened #65 "Homepage UI"
- [ ] Use existing `header`, `blogCard` components
- [ ] Use grid system

[2020-09-16 07:28] priyanshisharma commented on #65
I would like to work on this issue.

[2020-09-16 08:41] joharikushagra commented on #63
#I want to work on this

[2020-09-16 13:45] gauravdas014 opened #66 "Make the approval system"
In our website some organizations will request for registration and soon they will register approved : false will be there in database.
So the admins should be able to see the approval requests. So that they can either accept or decline them. Make two other controller functions which will allow admin to accept the approval or to decline. Keep all these approval thing inside the adminController.js

[2020-09-16 15:28] asi309 commented on #65
Can I work on this?

[2020-09-16 16:15] ruchikamuddinagiri commented on #66
I'd like to work on this!

[2020-09-17 02:18] #17 closed

[2020-09-17 04:03] salil-naik commented on #65
@asi309 It is already assigned.

[2020-09-17 06:13] ruchikamuddinagiri commented on #66
Could you elaborate the workflow? Will this require a new Organisation schema? If yes, which fields would be required?

[2020-09-17 14:01] gauravdas014 commented on #66
check issue #43

[2020-09-17 16:59] joharikushagra commented on #63
@gauravdas014  how to add up this? like there's no predefined model,route for the organization stuff

[2020-09-17 17:32] gauravdas014 commented on #63
The organization model is being created. For now assume there's an organization model. So create the function to get all organizations. Make the routes as well. Follow REST architecture.

[2020-09-17 21:32] joharikushagra commented on #63
Okay!!

[2020-09-18 03:11] #48 closed

[2020-09-19 03:42] gauravdas014 opened #70 "Update organization details"
Make a controller function to update the organization details

[2020-09-19 03:45] gauravdas014 commented on #33
Are you stuck anywhere?  It's been a week that you were assigned. Please tell if you need any help

[2020-09-19 04:14] Shubham-1105 commented on #33
No i will complete it

[2020-09-19 12:47] eternal-dreamer commented on #70
I want to work on this.

[2020-09-19 14:52] #63 closed

[2020-09-21 03:48] #66 closed

[2020-09-21 03:52] gauravdas014 opened #73 "Approval system for story posting"
When some organization will post some story it must be approved by the admin. Make the routes and controller function. For reference look at the approval system of organization registration

[2020-09-21 12:51] ruchikamuddinagiri commented on #73
I'd like to work on this!

[2020-09-24 03:20] #64 closed

[2020-09-26 05:42] #70 closed

[2020-09-26 05:46] #73 closed

[2020-09-26 05:47] gauravdas014 commented on #13
@tripathyprateek It's been a long time you were assigned this task. Need any help?

[2020-09-26 05:48] gauravdas014 commented on #43
@shagun0915 It's been a long time you were assigned this task. Need help?

[2020-09-26 05:49] gauravdas014 commented on #29
@pratikbaid3  It's been a long time you were assigned this task. Need any help?

[2020-09-26 05:54] gauravdas014 opened #77 "Get user profile"
Write a controller function and add necessary route to get user profile

[2020-09-26 05:56] gauravdas014 opened #78 "Update user profile"
Write a controller function and necessary route for updating user profile

[2020-09-26 05:56] tripathyprateek commented on #13
Hi sorry I have been a bit busy. I was waiting for the database to be defined and then I haven't looked up at the project. I will just unassign myself for this issue and pick up another one when time permits. Really sorry.

[2020-09-26 05:59] gauravdas014 commented on #13
okay no problem. Thanks for informing.

[2020-09-26 06:15] joharikushagra commented on #13
I can work on this

[2020-09-26 06:20] #65 closed

[2020-09-26 08:46] pratikbaid3 commented on #29
#79

[2020-09-26 10:25] pratikbaid3 commented on #77
I can work on this

[2020-09-26 11:23] Shubham-1105 commented on #78
i want to work on this

[2020-09-26 18:21] gauravdas014 commented on #30
Yes

[2020-09-27 14:38] #29 closed

[2020-09-27 14:43] gauravdas014 opened #81 "Project schema, get all projects , get all projects by organization controller function."
In the site we are building , admins of an organization will add projects on which different members of the different organizations will collaborate on. We need the project title, project description, posted by ( the organization will be referenced), timestamps. For now just add these fields.   Make a controller function to see all the organizations. Another controller function to get all the proj

[2020-09-27 14:49] gauravdas014 opened #82 "Add new project"
Under admin controller create a function to add new project. See the issue of project schema for the fields required in the projects

[2020-09-28 06:51] ruchikamuddinagiri commented on #81
I'd like to work on this!

[2020-09-28 07:42] pratikbaid3 commented on #77
@gauravdas014 does the user profile need to be filtered based on name or a uid??

[2020-09-28 14:38] #77 closed

[2020-09-28 14:40] gauravdas014 commented on #81
Please follow the response format of story controller functions, So that there is uniformity in the code

[2020-09-28 15:50] ruchikamuddinagiri commented on #81
Sure!

[2020-09-28 18:15] #30 closed

[2020-09-29 06:14] nanda-mik commented on #82
i would like to work on this!

[2020-09-29 12:30] salil-naik opened #87 "Make a project-card component"
Please refer to the design and make the card. Do not set absolute width and heights.

[2020-09-29 12:32] salil-naik opened #88 "Make a organization-card component"
Please refer to the design. Do not set fixed height and width to the card. The image can have a fixed height.

[2020-09-29 12:32] priyanshisharma commented on #87
I would like to work on this issue.

[2020-09-29 12:32] Shubham-1105 commented on #87
Interested

[2020-09-29 12:34] Shubham-1105 commented on #88
Interested

[2020-09-29 12:34] priyanshisharma commented on #88
I would like to work on this issue.

[2020-09-29 12:34] salil-naik opened #89 "Admin Page"
Please refer to the design. Make sure the UI is pixel perfect. Follow BEM notation.

[2020-09-29 12:37] sonali-singh97 commented on #89
I would like to work on this

[2020-09-29 12:40] salil-naik opened #90 "Make the blog-list page"
Follow CSS BEM architecture.
Make a separate SCSS file for this page.
Do not compile scss.

[2020-09-29 12:50] Sshivani-12 commented on #90
Interested!

[2020-09-29 19:55] #33 closed

[2020-09-29 19:56] #13 closed

[2020-09-29 19:57] gauravdas014 opened #91 "IsLogged in"
Make a controller function under authController to check if a user is logged in.

[2020-09-29 19:58] gauravdas014 commented on #82
@nanda-mik I can't find you in the whatsApp group . Please join the whatsapp group asap. After that I will assign.

[2020-09-30 05:13] Shubham-1105 commented on #78
Update user controller is done
.close #78 via #86

[2020-09-30 05:14] Shubham-1105 commented on #91
I want to work on this

[2020-09-30 06:33] nanda-mik commented on #82
Where is the link to join?

[2020-09-30 15:14] gauravdas014 commented on #91
Please make the necessary changes in the delete story function. Check the PR, I have mentioned

[2020-09-30 15:14] gauravdas014 commented on #82
In the Slack channel

[2020-09-30 15:16] #78 closed

[2020-09-30 15:19] Shubham-1105 commented on #91
Ok

[2020-09-30 16:20] nanda-mik commented on #82
I am unaware about these things! Where i will get link to join slack?

[2020-10-01 05:06] pratikbaid3 commented on #82
I can work on this

[2020-10-01 06:19] Sudheer121 commented on #91
Where will the token payload be for upcoming requests ?. Inside Authorization headers, cookies ?.

[2020-10-01 09:33] priyanshisharma commented on #88
I would like to work on this issue.

[2020-10-01 13:07] gauravdas014 opened #93 "Implement Express Rate limit, mongo sanitize, measures to prevent cross site scripting and other vulnurable attacks"

[2020-10-01 13:45] #93 closed

[2020-10-01 13:50] gauravdas014 opened #95 "Make the functionality to upload images to s3 bucket of aws"

[2020-10-01 13:52] gauravdas014 commented on #91
Yes. It will be in cookies!

[2020-10-01 14:12] #95 closed

[2020-10-01 14:17] gauravdas014 commented on #82
@nanda-mik Aren't you a part of GSSoC extended? If so you would have received the slack invitation .

[2020-10-01 14:17] gauravdas014 commented on #82
@pratikbaid3 I am assigning you

[2020-10-01 14:20] nanda-mik commented on #82
@gauravdas014 No i am not a part of Gssoc. So, am i not eligible to contribute to any project under gssoc?

[2020-10-01 14:22] gauravdas014 opened #97 "Admin panel authentication"
Make the controllers for admin signin and sign up

[2020-10-01 14:27] gauravdas014 commented on #82
@nanda-mik This project is only for those who are part of GSSoC extended.

[2020-10-01 14:46] #97 closed

[2020-10-01 14:56] gauravdas014 opened #99 "Add post schema for forum"

[2020-10-01 15:12] #99 closed, assigned to gauravdas014

[2020-10-01 15:24] gauravdas014 commented on #91
@Sudheer121 Are you a part of GSSoC extended? I cannot see you in the whatsApp group

[2020-10-01 15:25] Sudheer121 commented on #91
No, is it needed ?

[2020-10-01 15:28] Sudheer121 commented on #91
I won't continue then.

[2020-10-02 03:17] gauravdas014 commented on #91
yeah!

[2020-10-02 06:15] pratikbaid3 commented on #82
@gauravdas014 Since the project schema is not done yet but the issue for it has been assigned, should I make the schema myself??

[2020-10-02 11:38] gauravdas014 commented on #82
Yes create a simple schema for now.

[2020-10-04 13:26] #87 closed

[2020-10-05 06:59] #81 closed

[2020-10-05 18:31] #82 closed

[2020-10-06 15:05] gauravdas014 commented on #43
@shagun0915 Are you working?

[2020-10-08 19:37] #91 closed

[2020-10-09 14:29] salil-naik opened #107 "Admin Profile UI"
Follow CSS BEM architecture.
Use the existing header, footer and blogCard components
Refer to the design `Admin Profile`

[2020-10-09 14:34] shwetalsoni commented on #107
I want to work on this

[2020-10-09 15:33] salil-naik opened #109 "UI for Project Listing Page"
Follow CSS BEM architecture.
Use the existing header, footer and projectCard components
Refer to the design `project listing`

[2020-10-10 14:29] gauravdas014 opened #110 "Project Schema"
Create a project schema with fields project title, project description and posted by which should be an organization (referenced)

[2020-10-10 14:30] gauravdas014 opened #111 "GetAllProjects"
Create a controller function to get all projects

[2020-10-10 14:30] gauravdas014 opened #112 "Make a controller function to get a single project by project id"

[2020-10-10 14:31] gauravdas014 opened #113 "Delete project"
Make a controller function to delete a project

[2020-10-10 14:33] gauravdas014 opened #114 "Update project"
Make a controller function to update a project

[2020-10-10 16:57] ruchikamuddinagiri commented on #110
I think this already exists.
#81

[2020-10-10 16:59] ruchikamuddinagiri commented on #111
This as well. #81

[2020-10-10 17:00] ruchikamuddinagiri commented on #113
I'd like to take this!

[2020-10-10 20:02] gauravdas014 commented on #110
PR was already submitted for this. But I am not able to find it now in models folder. So have recreated the issue!

[2020-10-11 07:25] #110 closed

[2020-10-11 07:26] #111 closed

[2020-10-11 18:26] ruchikamuddinagiri commented on #112
I can work on this.

[2020-10-12 06:54] pratikbaid3 commented on #114
I can work on this

[2020-10-12 10:51] Shubham-1105 commented on #112
Interested to work on this

[2020-10-13 06:13] gauravdas014 commented on #43
@ruchikamuddinagiri This task is still left , would you like to take this?

[2020-10-13 06:13] #43 closed

[2020-10-13 06:15] #112 closed

[2020-10-13 10:17] #89 closed

[2020-10-13 10:54] #90 closed

[2020-10-13 10:56] #88 closed

[2020-10-13 10:59] #107 closed

[2020-10-14 19:26] #113 closed

[2020-10-15 13:20] #50 closed

[2020-10-17 04:50] shwetalsoni opened #122 "Notification component"

[2020-10-17 07:19] #114 closed

[2020-10-21 19:03] gauravdas014 opened #124 "Create new post in the forum"
Create controller function to create new post for the forum

[2020-10-21 19:04] gauravdas014 opened #125 "Add new comment to the forum post"
Create controller function to add new comment in the forum post

[2020-10-21 19:05] gauravdas014 opened #126 "Like a post (in the forum)"
Create controller function to like a post (under forum). Just increase the likes count when the endpoint is hit,

[2020-10-21 19:06] gauravdas014 opened #127 "Remove likes from forum post"
Create controller function to remove the likes from a forum post

[2020-10-21 19:07] gauravdas014 opened #128 "Delete comment from forum post"
Create controller function to delete comment from the forum post

[2020-10-21 19:08] gauravdas014 opened #129 "Reply to a comment in a forum post"
Create a controller function to reply to a comment in the post under forum

[2020-10-21 19:09] gauravdas014 opened #130 "Get Feed for the forum"
Create a controller function to make the feed for the forum and display it to the user. Paginate the no of results to 20.

[2020-10-21 19:29] eternal-dreamer commented on #124
I want to work on this.

[2020-10-22 05:39] joharikushagra commented on #125
I would like to work on this

[2020-10-22 16:33] ruchikamuddinagiri commented on #126
I'd like to work on this.

[2020-10-26 03:18] shwetalsoni opened #132 "Make code-of-conduct page responsive"

[2020-10-26 18:29] sonali-singh97 opened #134 "Make About us page responsive"

[2020-10-27 16:12] #122 closed

[2020-10-27 16:13] #109 closed

[2020-10-28 08:48] Nikhil-dev13 commented on #128
I would like to work in this issue

[2020-10-28 12:08] Nikunj-Aggarwal opened #136 "Tag the user in the comments of forum post"
Create a controller function to tag the users in the comments of forum post.

[2020-10-28 12:11] gauravdas014 commented on #128
Are you a part of GSSoC extended @Nikhil-dev13 ? This project is currently only for GSSoC extended participants.

[2020-10-28 16:27] Nikhil-dev13 commented on #128
Sorry I didn't knew

[2020-10-29 07:00] Sshivani-12 opened #137 "Make Stories(BlogListPage) Responsive"

[2020-10-30 14:48] ruchikamuddinagiri commented on #127
I'd like to work on this!

[2020-10-31 11:41] #124 closed

[2020-10-31 12:20] #137 closed

[2020-10-31 12:25] Sshivani-12 opened #140 "Make Organization Page Responsive"

[2020-10-31 12:40] #140 closed

[2020-10-31 12:40] Sshivani-12 opened #141 "Make AdminPage Responsive."

[2020-10-31 15:10] #141 closed

[2020-11-01 09:47] #126 closed

[2020-11-02 11:10] eternal-dreamer commented on #129
I want to work on this issue.

[2020-11-02 11:44] #125 closed

[2020-11-02 19:39] Shubham-1105 commented on #128
I want to work on this

[2020-11-03 14:27] salil-naik opened #143 "Create a Forum Post Component."
- [ ] Refer to the Figma design.
- [ ] Use SVGs for like, comment and social media icons.
- [ ] Make it responsive. Use correct breakpoints for media queries.
- [ ] Refrain from using fixed widths and heights.
- [ ] Use existing components wherever necessary.

[2020-11-03 14:28] Shubham-1105 commented on #143
I want to work on this

[2020-11-04 06:34] priyanshisharma opened #144 "Make a Comment Component"
Make a component which will be used to display a comment.

[2020-11-04 06:34] priyanshisharma commented on #144
I would like to work on this.

[2020-11-04 06:39] salil-naik commented on #144
Refer to the Figma design.
Make it responsive. Use correct breakpoints for media queries.
Refrain from using fixed widths and heights.
Use existing components wherever necessary.

[2020-11-06 06:54] priyanshisharma opened #149 "Make Comment-Input Component"
Refer to the Figma design.
Make it responsive. Use correct breakpoints for media queries.
Refrain from using fixed widths and heights.
Use existing components wherever necessary.

[2020-11-06 06:54] priyanshisharma commented on #149
I would like to work on this issue.

[2020-11-08 19:27] #132 closed

[2020-11-09 02:46] #144 closed

[2020-11-09 04:05] #134 closed

[2020-11-09 12:00] #149 closed

[2020-11-12 07:15] gauravdas014 opened #152 "Integrate registration api to the front end"

[2020-11-12 16:45] #129 closed

[2021-01-11 16:00] inomag commented on #143
Is the issue open?

[2021-01-11 17:14] salil-naik commented on #143
@inomag 1 dev is already working on it. : )

[2021-01-12 06:41] sonali-singh97 opened #154 "Use CSS modules in footer"

[2021-01-12 17:46] Sshivani-12 opened #155 "Use CSS modules in BlogCard"

[2021-01-13 09:08] pkspyder007 opened #157 "Connect frontend to backend API"
This is a discussion issue where you can suggest your ideas on how we might integrate our backend with the frontend.
e.g. Using Axios or react-query for data fetching, how to model global state, etc.

Separate issues will be created for specific functionality later on.

[2021-01-13 10:34] pkspyder007 opened #159 "Create login page"
Refer to design
You can look at the registration page for using prebuilt components in our project

[2021-01-13 10:41] pkspyder007 opened #160 "Update auth controller to set error status on response if user exists"
The current signup method in authController does not return a bad request on a user that already exists check.
I would like to work on this quick fix @gauravdas014

[2021-01-13 10:46] gauravdas014 commented on #160
Please go ahead @pkspyder007

[2021-01-13 12:35] #155 closed

[2021-01-13 12:43] salil-naik opened #161 "Use CSS modules for Stories page."
Please refer to the [guide](https://github.com/girlscript/feminist-bible-phase-2/tree/master/frontend#using-css-modules) to use CSS modules.

[2021-01-13 12:45] salil-naik opened #162 "Use CSS modules for Homepage."
Please refer to the [guide](https://github.com/girlscript/feminist-bible-phase-2/tree/master/frontend#using-css-modules) to use CSS modules.

Create a `Home` folder inside `pages` folder.

[2021-01-13 12:46] salil-naik opened #163 "Use CSS modules for OrganizationCard"
Please refer to the [guide](https://github.com/girlscript/feminist-bible-phase-2/tree/master/frontend#using-css-modules) to use CSS modules.

[2021-01-13 12:48] salil-naik opened #164 "Use CSS modules for code-of-conduct page."
Please refer to the [guide](https://github.com/girlscript/feminist-bible-phase-2/tree/master/frontend#using-css-modules) to use CSS modules.

[2021-01-13 13:29] Sshivani-12 commented on #164
interested!

[2021-01-13 14:13] #154 closed

[2021-01-13 16:08] gauravdas014 commented on #157
According to me, Axios should be used for the API calls. Regarding the react part @salil-naik can comment better.

[2021-01-14 01:32] pkspyder007 commented on #159
I am working on this issue.

[2021-01-14 01:58] pkspyder007 commented on #152
Please mark this issue as completed

[2021-01-14 02:05] pkspyder007 opened #168 "Use http-only cookie for jwt token"
The current implementation of JWT lets the frontend to manage the JWT token on the client-side, which can store jwt in localStorage, etc.
This could be a security issue.
To tackle this, the backend API should attach the JWT token to an HTTP-only cookie so that the frontend or any other client-side js is not able to extract the token

[2021-01-14 09:52] priyanshisharma commented on #162
I would like to work on this issue.

[2021-01-14 10:42] priyanshisharma commented on #163
I would like to work on this issue.

[2021-01-14 11:53] #159 closed

[2021-01-14 11:57] priyanshisharma commented on #161
I would like to work on this issue.

[2021-01-14 12:09] #163 closed

[2021-01-14 12:15] #162 closed

[2021-01-14 12:19] #161 closed

[2021-01-14 12:29] salil-naik commented on #143
@Shubham-1105 Please continue with this.

[2021-01-14 12:31] salil-naik opened #172 "Use CSS modules for organizations page"
Please refer to the [guide](https://github.com/girlscript/feminist-bible-phase-2/tree/master/frontend#readme) to use CSS modules.

[2021-01-14 12:32] salil-naik opened #173 "Use CSS modules for about page"
Please refer to the [guide](https://github.com/girlscript/feminist-bible-phase-2/tree/master/frontend#readme) to use CSS modules.

[2021-01-14 12:34] salil-naik opened #174 "Use CSS modules for Input component"
Please refer to the [guide](https://github.com/girlscript/feminist-bible-phase-2/tree/master/frontend#readme) to use CSS modules.

[2021-01-14 12:35] salil-naik opened #175 "Use CSS modules for Avatar Component."
Please refer to the [guide](https://github.com/girlscript/feminist-bible-phase-2/tree/master/frontend#readme) to use CSS modules.

[2021-01-14 12:37] salil-naik opened #176 "Use CSS modules for Project Card component"
Please refer to the [guide](https://github.com/girlscript/feminist-bible-phase-2/tree/master/frontend#readme) to use CSS modules.

[2021-01-14 12:38] salil-naik opened #177 "Use CSS modules for BlogPage"
Please refer to the [guide](https://github.com/girlscript/feminist-bible-phase-2/tree/master/frontend#readme) to use CSS modules.

[2021-01-14 19:08] priyanshisharma commented on #175
I would like to work on this issue.

[2021-01-14 20:20] #175 closed

[2021-01-15 13:42] gauravdas014 opened #180 "Link Login and Register buttons of the landing page with the actual pages."

[2021-01-15 13:50] gauravdas014 opened #181 "Mention all the environment variables of .env file in .env.example in backend folder"

[2021-01-16 10:15] priyanshisharma commented on #172
I'm working on this issue.

[2021-01-16 12:38] #172 closed

[2021-01-16 12:39] #180 closed

[2021-01-16 17:19] sonali-singh97 commented on #173
I would like to work on this issue.

[2021-01-16 17:19] #164 closed

[2021-01-16 19:00] priyanshisharma commented on #174
i'm working on this issue.

[2021-01-17 09:45] joharikushagra commented on #168
I would like to do this

[2021-01-17 16:55] Sshivani-12 commented on #176
Interested!

[2021-01-17 17:50] #174 closed

[2021-01-17 19:22] priyanshisharma commented on #177
I'm working on this issue.

[2021-01-18 09:36] #177 closed

[2021-01-18 09:38] #176 closed

[2021-01-19 05:09] #181 closed

[2021-01-24 16:15] #173 closed

[2021-01-24 16:28] #143 closed

[2021-01-24 16:31] salil-naik opened #190 "Create a Forum Post Component"
- [ ] Refer to the Figma design.
- [ ] Use SVGs for like, comment and social media icons.
- [ ] Make it responsive. Use correct breakpoints for media queries.
- [ ] Refrain from using fixed widths and heights.
- [ ] Use existing components wherever necessary.

[2021-01-24 16:35] salil-naik opened #191 "Use CSS modules for Project Listing page"
Please refer to the [guide](https://github.com/girlscript/feminist-bible-phase-2/tree/master/frontend#readme) to use CSS modules.

[2021-01-24 16:36] salil-naik opened #192 "Use CSS modules for Login and Registration page"
Please refer to the [guide](https://github.com/girlscript/feminist-bible-phase-2/tree/master/frontend#readme) to use CSS modules.

[2021-01-25 06:37] priyanshisharma commented on #191
I would like to work on this issue.

[2021-01-25 06:46] priyanshisharma commented on #192
I would like to work on this issue.

[2021-01-25 12:09] #191 closed

[2021-01-25 13:05] #192 closed

[2021-01-25 13:38] salil-naik opened #195 "Use CSS modules for notification component."
Please refer to the [guide](https://github.com/girlscript/feminist-bible-phase-2/tree/master/frontend#readme) to use CSS modules.

[2021-01-27 12:36] priyanshisharma commented on #190
I'm working on this issue.

[2021-02-02 11:26] sonali-singh97 commented on #195
I would like to work on this issue.

[2021-02-03 21:06] #127 closed

[2021-02-03 21:07] #128 closed

[2021-02-03 21:08] gauravdas014 commented on #168
@joharikushagra sorry for the delay in replying. Would you still like to work on this issue?

[2021-02-03 21:09] #152 closed

[2021-02-08 06:26] priyanshisharma opened #199 "Use CSS modules for Comment Component"
Please refer to the [guide](https://github.com/girlscript/feminist-bible-phase-2/tree/master/frontend#readme) to use CSS modules.

[2021-02-08 06:28] priyanshisharma opened #200 "Use CSS Modules for Comment Input Component"
Please refer to the [guide](https://github.com/girlscript/feminist-bible-phase-2/tree/master/frontend#readme) to use CSS modules.

[2021-02-11 18:06] #195 closed

[2021-03-08 18:53] RituCs commented on #136
Hey , I want to work on this issue.Please guide me further.

[2021-03-09 07:36] subhangi2731 commented on #168
hey please i want to work on this please assign me

[2021-03-09 07:37] subhangi2731 commented on #130
please assign me this

[2021-03-09 07:50] gauravdas014 commented on #168
@subhangi2731 I am assigning this issue. Please make sure you read the contributing guidelines before contributing. Write tests if required and make sure no test cases are failing.

[2021-03-09 09:40] nitinjaiswal7537 commented on #199
@priyanshisharma i would like to contribute as an Gssoc21 participant

[2021-03-09 10:47] priyanshisharma commented on #200
The changes here are dependent on #197 so I think this should be worked on only after it is merged.

[2021-03-09 10:47] priyanshisharma commented on #199
The changes here are dependent on #197 so I think this should be worked on only after it is merged.

[2021-03-09 11:16] Sakshi0401 commented on #200
Once #197 is done could you please assign #200 to me?

[2021-03-09 16:30] abhinav5481 commented on #190
Hi,
I would like to work on this issue as part of GSSOC'21. Could you please assign it to me?

[2021-03-10 10:17] padmajabhol opened #207 "Add a favicon."
I want to add a theme based favicon. Can you assign it to me?

[2021-03-10 10:18] padmajabhol opened #208 "Sticky navbar."
I want to fix the top navbar. Please assign me.

[2021-03-10 13:27] thesakshipandey commented on #207
I have good resources to work on this issue,
can you assign this issue to me under GSSoC'21?

[2021-03-10 14:36] shivangi942 commented on #207
I want to work in this issue. Can you please assign it to me?

[2021-03-10 15:46] muskaan-ag09 commented on #208
Please assign me this issue. I would be like to contribute.

[2021-03-10 17:44] khareyash05 opened #209 "Make Changes in contributing.md"
Hi @salil-naik @gauravdas014 @pkspyder007  I would like to make changes and update contributing.md . I will mention steps on how to clone a repo and install on local system ,how to make a branch and use git commands to push it to origin ,How to make a PR , how to update your forkedrepo as well as local repo as the changes are made to the upstream

I would like to work on it as a part of GSSOC'21

[2021-03-10 17:52] gauravdas014 commented on #209
@khareyash05 show us what you want to change!

[2021-03-10 17:54] khareyash05 commented on #209
I will mention steps on how to clone a repo and install on local system ,how to make a branch and use git commands to push it to origin ,How to make a PR , how to update your forked repo as well as local repo as the changes are made to the upstream

[2021-03-10 17:55] gauravdas014 commented on #209
Great! Please proceed with the changes and give a PR when done.

[2021-03-10 18:04] gauravdas014 commented on #208
@padmajabhol can you attach of a screenshot of what you want to fix?

[2021-03-10 18:13] pkspyder007 commented on #207
Why do you think this is needed? @padmajabhol

[2021-03-11 04:11] #209 closed

[2021-03-11 14:34] bhubesh757 opened #211 "fix Footer Navigation Error!! 🚀🚀"
@pkspyder007 If We press the Button in Footer it actually navigates to particular url  http://localhost:3000/placeholder  ,

https://user-images.githubusercontent.com/55022929/110803080-d71a3b00-82a4-11eb-83e2-8f534c089f05.mp4

[2021-03-11 19:31] ShreyashRoyzada commented on #211
Hello I would like to work on this issue as part of GSSOC21. Can you please assign this to me.?
Thank you.

[2021-03-12 02:08] bhubesh757 commented on #211
@ShreyashRoyzada  Yes I will Work on this Issue , Kindly , Assign this to me!

[2021-03-12 12:38] Uyadav207 opened #212 "chore(update): missing bug_report and feature request template"
**Need**?

- Important according to OSS guidelines.
- Help maintainer to differentiate a `bug` `feature`, `feature(already included in the project)`

Hey Maintainer!
I want to work on creating an effective template for bug and feature requests.
Please assign me the task. (**For GGSOC'21**)

[2021-03-12 14:04] rohank2502 opened #213 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 14:05] rohank2502 opened #214 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-13 04:32] HelenEH0 commented on #136
@Nikunj-Aggarwal,
I also want to work on this project as a beginner GSSOC'21 participant. Please assign and guide me through this project.

[2021-03-13 09:10] gauravdas014 commented on #168
@subhangi2731 What's the status?

[2021-03-13 17:35] DeeptiTeragunti commented on #207
I would like to work on this issue.Can i be assigned with this piece of work?

[2021-03-13 18:56] ManuGupta9780 commented on #208
Currently, the navbar is not sticky,i.e it does not stays on top of the user's browser as we scroll down. Fixed top navbar provides a better UI.
I would like to change it in the following way:

![scroll1](https://user-images.githubusercontent.com/59606099/111040886-6f5a2080-845b-11eb-9c26-5816a744694b.png)

Navbar stays on top on scrolling down.

![scroll2](https://user-images.githubusercontent.co

[2021-03-14 14:29] rajesh6161 commented on #157
I would like to handle this issue

[2021-03-14 18:27] gauravdas014 commented on #157
@rajesh6161 As you can see, it's kind of a discussion issue. There will be separate issues for connecting different components of front end to the backend.

[2021-03-15 12:34] gauravdas014 commented on #208
@ManuGupta9780 Work on the issue, I am assigning.

[2021-03-15 12:39] gauravdas014 commented on #212
@Uyadav207 Go for it.

[2021-03-15 12:41] Uyadav207 commented on #212
@gauravdas014 Thanks

[2021-03-15 12:42] gauravdas014 commented on #213
@rohank2502 Currently it's not a very important issue. I am closing it.

[2021-03-15 12:42] #213 closed

[2021-03-15 18:01] amritakesh commented on #212
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 18:01] amritakesh commented on #207
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 18:47] gauravdas014 commented on #207
We already have a favicon. So this issue makes no sense, therefore closing the issue.

[2021-03-15 18:48] #207 closed

[2021-03-15 20:20] Uyadav207 commented on #212
@amritakesh This is no more an issue now... The required PR has been already merged... Please try out some other issue... to contribute on.

[2021-03-15 20:51] #212 closed

[2021-03-17 03:38] kumarishalini6 opened #221 "Bug:- mobile number should be of 10 digit"
mobile number should be of 10 digit, i want to solve this bug under participant of GSSoC'21,can you please assign this to me.
![Feminist Bible - Personal - Microsoft​ Edge 3_17_2021 09_03_31 AM_LI](https://user-images.githubusercontent.com/69043944/111411257-0bb83900-868f-11eb-8e60-b16fc28c5d3f.jpg)

[2021-03-17 07:43] WaderManasi opened #222 "[Feat]: Lazy Loading Component to increase performance of Website"
Inorder to reduce the initial loading time of website, lazy loading can be implemented.
**Solution** -
Render the components only when the user requests for it.
(initial loading time will get reduced)
Also, we can add styled react loaders

I wish to contribute on this issue being part of gssoc'21 .

[2021-03-17 13:18] kumarishalini6 commented on #221
i have send PR please check

[2021-03-17 17:41] #208 closed

[2021-03-17 18:22] shashankmotruri commented on #214
Hey @rohank2502 , I'm closing this issue as its less concerned.It would be great if you come up with different issue :).

[2021-03-17 18:22] #214 closed

[2021-03-17 18:49] shashankmotruri opened #225 "fix : login-page__illustration size"
<img src="https://user-images.githubusercontent.com/56257201/111520064-bc046b00-877d-11eb-9228-ab370c7bb516.png"  width=40% height=40%/>
<img src="https://user-images.githubusercontent.com/56257201/111520074-be66c500-877d-11eb-9339-054ae830a884.png" width=40% height=40%/>

[2021-03-18 12:54] jain-rishabh-21 opened #226 "Dockerizing the setup as an alternative for installation!"
### **Is your feature request related to a problem? Please Describe.**

WIll solve the problem regarding setup for developers working on different OS.

### **Describe the solution you'd like**

Using docker for simplifying the installation

### **Describe alternatives you've considered**

NA

### **Additional context**

NA

[2021-03-18 12:54] jain-rishabh-21 commented on #226
If found useful , please assign it to me.
Discord: krackerzzz#4371

[2021-03-18 13:20] prajakta2809 commented on #225
can you assign this to me.I would like to work on this.

[2021-03-18 18:48] joharikushagra commented on #225
I would like to work on it

[2021-03-19 03:17] kumarishalini6 commented on #221
i have send PR please check

[2021-03-19 05:07] pkspyder007 opened #228 "Add package-lock.json to .gitignore"
The lock files are creating unnecessary error/merge conflicts.
Adding these files to .gitignore will solve this

[2021-03-19 08:18] Devenkapoor7303 commented on #228
Can I work on this issue as a GSSOC participant

[2021-03-19 11:12] KaranKaira commented on #228
I would like to work on this issue as a GSSOC participant

[2021-03-19 11:25] KaranKaira opened #229 "Shifting from classes to functional components"
### **Is your feature request related to a problem? Please Describe.**

Many components are class components.

### **Describe the solution you'd like**

I want to convert all class components to functional components.

### **Describe alternatives you've considered**
NA

### **Additional context**

NA

[2021-03-19 16:44] kumarishalini6 commented on #228
@pkspyder007  can you allow me to work on this issue , I have experience to add into .gitignore .

[2021-03-19 18:20] AshuKV commented on #228
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-19 18:41] shashankmotruri commented on #229
@KaranKaira changing class comps to  functions will be lots of trouble, as state management need to be considered . So I'm closing this issue. Feel free to comment : )

[2021-03-19 18:41] #229 closed

[2021-03-19 18:50] shashankmotruri commented on #226
@jain-rishabh-21 As of now it is not necessary. Our primary goal is to complete the api and react app. So I'm closing this issue.

[2021-03-19 18:50] #226 closed

[2021-03-19 19:01] KaranKaira commented on #229
True .
What if I can make a branch with class components replaced with functional component ??
Development in both branches can move parallelly.Contributors can work on both branches. .
Bcoz ,eventually we must move towards functional components .

And when this branch is up to date with the master branch ,then we can shift entirely to functional components.

Would like to hear suggestions..

[2021-03-20 10:17] pkspyder007 commented on #229
@KaranKaira that sounds feasible. Come out with a proper plan and contribution guide for this issue.

[2021-03-21 04:58] #136 closed

[2021-03-21 07:31] kumarishalini6 commented on #228
i have send PR but i guess there is some issue please check it and let me know the problems .

[2021-03-21 13:11] #211 closed

[2021-03-21 13:12] pkspyder007 commented on #168
@gauravdas014 you may assign this to someone else.

[2021-03-21 13:15] pkspyder007 commented on #228
I am  closing this issue as this is producing errors during the checks and version mismatch

[2021-03-21 13:15] #228 closed

[2021-03-21 16:50] gauravdas014 commented on #160
@pkspyder007 This issue should be closed right?

[2021-03-21 16:51] gauravdas014 commented on #168
Yes, sure!

[2021-03-21 16:52] gauravdas014 commented on #130
@subhangi2731 Can you explain how you are going to implement it?

[2021-03-21 17:21] subhangi2731 commented on #168
I have worked on this @gauravdas014 will send the pr by tommorrow. Please reassign me I was out of station for a few days so I was not able to communicate

[2021-03-21 17:23] gauravdas014 commented on #168
@subhangi2731 Please give the PR by tomorrow.

[2021-03-21 17:24] gauravdas014 commented on #168
Okay, no issue!

[2021-03-21 17:25] subhangi2731 commented on #168
Okay sure, Thanks

[2021-03-21 18:43] #225 closed

[2021-03-22 03:26] #221 closed

[2021-03-22 03:30] pkspyder007 commented on #130
@subhangi2731 Are you still interested in working on this issue?

[2021-03-22 04:15] gauravdas014 commented on #130
@pkspyder007 currently she is working on another issue.

[2021-03-22 05:14] pkspyder007 commented on #160
Yes it is fixed

[2021-03-22 16:10] gauravdas014 commented on #168
@subhangi2731 Have you completed the task?

[2021-03-22 19:03] subhangi2731 commented on #168
@gauravdas014 I need little more time will send the pr by tomorrow can u please give me one more day?

[2021-03-22 19:07] gauravdas014 commented on #168
@subhangi2731 okay, it's fine if you send PR by tomorrow. @shashankmotruri @nanda-mik. Please help her. She is facing some issues.

[2021-03-25 06:52] jhasuraj01 commented on #168
I would like to work on this issue, I also have practical experience regardless this issue

[2021-03-25 07:19] lopeselio commented on #222
can I take this up ?

[2021-03-25 07:32] gauravdas014 commented on #168
@jhasuraj01 Please go ahead

[2021-03-25 07:34] jhasuraj01 commented on #168
Thanks, will update you soon

[2021-03-25 08:02] itsIapetus opened #253 "Add Welcome bot"
### **Is your feature request related to a problem? Please Describe.**

I would like to add a welcome bot, for new issues, PRs, etc.
Kindly assign it to me under gssoc, thanks!

### **Describe the solution you'd like**

### **Describe alternatives you've considered**

### **Additional context**

[2021-03-25 08:14] singhayushh opened #254 "Tests for APIs are missing"
Hello,
The tests for various api endpoints are missing currently.
Since there are a lot of endpoints, it'd be better if they are broken into separate issues - one for each
- user
- story
- project
- org
- forum
- auth
- admin

I am willing to work on this issue myself.

[2021-03-25 08:32] oneknucklehead opened #255 "Dark Mode UI"
### **Describe the solution you'd like**

I'd like to add a dark mode to the website which can be toggled at will

[2021-03-25 08:33] oneknucklehead commented on #255
Can I get assigned to this issue under GSSoC'21?
/assign

[2021-03-25 08:49] Varun8216889 commented on #222
As a beginner, I want to contribute but I am not able to find the issue.
Can I start my contribution by working on this issue under GSSoC'21? Kindly assign it to me or suggest me one.

[2021-03-25 09:03] pkspyder007 commented on #253
@itsIapetus I don't get a point what you are trying to achieve. Please explain a bit more?

[2021-03-25 09:07] pkspyder007 commented on #254
@singhayushh  Please connect with @gauravdas014 to complete this task. He can guide to if you have any doubts. 👍

[2021-03-25 09:15] gauravdas014 commented on #254
@singhayushh Let the Issue be a single issue, you can create multiple PRs or a single pr with subtasks, whatever you prefer. On completion of all the sub-issues under this issue, I will close this issue. React out for any other clarification

[2021-03-25 09:17] gauravdas014 commented on #255
@pkspyder007 Do you feel the necessity of this?

[2021-03-25 09:19] pkspyder007 commented on #255
I am in discussion with mentors about the implementation of this feature. Will update this in few hours

[2021-03-25 09:20] pkspyder007 commented on #222
@WaderManasi are you still working on this Or we should assign this to someone else.

[2021-03-25 10:17] jhasuraj01 commented on #168
@gauravdas014 I have made necessary changes in `backend\controllers\authController.js` shall I make a PR?

[2021-03-25 10:19] gauravdas014 commented on #168
@jhasuraj01  Sure!

[2021-03-25 11:17] iampranavdhar opened #257 "Adding Hover Effect to Cards"
Hey!
I am Pranavdhar. I hope to add hover effects to the cards of organization, blog, and project which makes it look more appealing. If you wish to add this feature consider assigning it to me.
Thanks

[2021-03-25 11:47] gauravdas014 commented on #257
@pkspyder007 Considering the design we have, do we have any such plan?

[2021-03-25 11:58] sonal251001 opened #258 "README.md"
### **Is your feature request related to a problem? Please Describe.**

In the README.md we could add a table to list all the open source organizations this project has been part of. For example GSSoC , Winter of code , etc.
### **Describe the solution you'd like**

### **Describe alternatives you've considered**

### **Additional context**

[2021-03-25 12:00] himanshujaidka opened #259 "Mongoose connection should be inside the index.js"
It is preferable that mongoose connection should be inside index.js or main server file, I would be happy if this issue is assigned to me

[2021-03-25 12:07] shashankmotruri commented on #258
@sonal251001 please can you explain a bit more on what u r going to achieve ?

[2021-03-25 12:11] singhayushh opened #260 "Separate env files for production and development"
It's a good practice to have separate env files for development and production. The project's backend is to have tests for routes which cannot be done in the production database.

#### Proposal:
- having two env files instead of one, named `env.production` and `env.development`.
- using [cross-env](https://www.npmjs.com/package/cross-env), we can set an environment variable with each script (npm s

[2021-03-25 12:19] sonal251001 commented on #258
I thought of making a table listing all the open-source organizations that this project has been a part of like I saw this in one of the projects I can't find it now. It will look as like this in the README.md

**List of open-source programs**

1)GSSoC - 2021
2).............(If any other organizations you know the project was a part of)

[2021-03-25 12:28] #258 closed

[2021-03-25 12:28] pkspyder007 commented on #257
Yes that could be nice small touch 👍

[2021-03-25 12:55] iampranavdhar commented on #257
So, can you assign it to me and assign a gssoc label. @pkspyder007 @gauravdas014

[2021-03-25 12:57] soulsurya commented on #257
Hello!
I'm Suryakant i wish to make your site more appealing and stylish by adding hover effects on various card components,i have a good css experience would you like to give me a chance?

[2021-03-25 14:22] jhasuraj01 commented on #259
I already solved this issue in my PR #168

[2021-03-25 15:42] #259 closed

[2021-03-25 15:54] iampranavdhar commented on #257
Yeah, thanks @shashankmotruri  will work on it and notify you once it's done.

[2021-03-25 16:00] WaderManasi commented on #222
Yeah I am working, due to exams there was delay in work.

[2021-03-25 16:11] swathi-469 commented on #255
I would like to do it . Will you please assign it to me under GSSOC'21

[2021-03-25 16:20] ankan10 commented on #257
Can I work on it?

[2021-03-25 16:49] gauravdas014 commented on #257
As you can see this issue is already assigned. Please comment on some other issue, or you can open new issues!

[2021-03-25 17:04] pkspyder007 commented on #255
@oneknucklehead @swathi-469 Could you please share the approach you'll be taking to implement the dark mode.
We are using Sass and BEM naming conventions for the styling. And one more thing to take into consideration we are not having a design guide/file for dark UI only the main UI is available as a Figma file.

[2021-03-25 17:05] pkspyder007 commented on #253
I am closing this issue as it is not useful to the project right now.

[2021-03-25 17:05] #253 closed

[2021-03-26 03:47] Shubhrima opened #265 "Add the website icon in title bar"
### **Is your feature request related to a problem? Please Describe.**
No logo in the tab displayed in the title bar.

### **Describe the solution you'd like**
The logo is the visual representation of the organization, and the website icon plays important role in helping the organization to stand out.

Add the website icon in the tab of the title bar
### **Describe alternatives you've considered**

[2021-03-26 04:13] Sourav61 commented on #265
Could you please assign me this?

[2021-03-26 04:16] Shubhrima commented on #265
Hi, @Sourav61 I  myself am a GSSOC'21 participant and want to work on this. :)

[2021-03-26 04:17] Sourav61 commented on #265
okay

[2021-03-26 04:56] gauravdas014 commented on #265
@Shubhrima There is a favicon already. Can you please check in other browser

[2021-03-26 05:54] #265 closed

[2021-03-26 06:13] oneknucklehead commented on #255
Can we not discuss and decide on how the things should look in dark mode? And can we not use CSS and JS? I mean I have prior knowledge in Sass but I'm completely new to BEM

[2021-03-26 06:43] pkspyder007 commented on #255
@oneknucklehead BEM is nothing just a naming convention you u.nderstand it in 15 mins. You could create some basic Darkui and we'll see how it goes.

[2021-03-26 06:46] oneknucklehead commented on #255
Gimme sometime then?
Is it okay if I create a basic dark UI and send it to you by Sunday evening?

[2021-03-26 06:53] #160 closed

[2021-03-26 08:26] Alenjojo opened #266 "Adding custom dialog box"
### **Is your feature request related to a problem? Please Describe.**

The dialog boxes that shows are the basic ones which are inbuilt. Those doesn't match the current user experience

### **Describe the solution you'd like**

I can make a custom dialog box with displays messages or selection accordingly

So can you assign this issue to me

[2021-03-26 09:20] himanshujaidka opened #267 "validator is missing"
isSignin() function should be there inside the validator folder, I would be happy if this issue will assigned to me

[2021-03-26 12:39] piyushsharma21 commented on #260
Hello @singhayushh , as part of GSSOC21, I would love to work on this issue, if still unresolved please consider assigning to me.
Thanks

[2021-03-26 12:43] piyushsharma21 commented on #130
@pkspyder007 If this issue is unassigned, please consider assigning to me

[2021-03-26 15:47] nishant23122000 commented on #157
Hey as per me, we have many option to connect frontend with backend ,
 1> we can use passport or any other library for handling user cookies,sessions and all with easy methods .

2> we can implement alll things manually means handle cookie and sessions manually
And axios is best because it provides many options like with-credentials etc and also there is big community , so that we can easily find

[2021-03-26 16:37] gauravdas014 commented on #157
@nishant23122000 Would you like to work on some part of the integeation? As the integration of the whole API will be a very big task. Please note we aren't using passport js. And please go through the API and also the react app for a better understanding of the codebase so that you can integrate the API properly.

[2021-03-26 16:50] gauravdas014 opened #268 "Add comments to the routes and controllers in the backend API"

[2021-03-26 17:13] nishant23122000 commented on #157
@gauravdas014  Yes, I like to contribute in this part because i already familiar on this and also i already understood the codebase of front and back

[2021-03-26 17:16] gauravdas014 commented on #157
@nishant23122000 Please create separate issues for each section of integration and start working

[2021-03-26 17:39] gauravdas014 commented on #267
@himanshujaidka In the authController there is already a isSignin() function. Are you talking about this only?

[2021-03-26 17:46] himanshujaidka commented on #267
yes, I think that function should be inside validator

[2021-03-26 17:53] gauravdas014 opened #269 "Create controller function to edit comment in the forum"
Create a controller function that will add the functionality of editing comments in the forum.

[2021-03-26 17:54] gauravdas014 opened #270 "Create a controller function to delete comment on the forum"

[2021-03-26 17:56] gauravdas014 opened #271 "Create a controller function to edit a forum post"

[2021-03-26 18:05] gauravdas014 commented on #267
That's an auth middleware, it's fine to keep it in authController.

[2021-03-26 18:47] #257 closed

[2021-03-26 18:50] GurshehzadSingh commented on #268
im a gssoc participant and i would like to work on this isuue.

[2021-03-26 18:51] gauravdas014 commented on #268
@GurshehzadSingh Please go ahead. Make sure you read the contributing guidelines before contributing.

[2021-03-27 03:00] HarshitAditya27 commented on #270
Hi, I would like to work on this issue, I am very new in open source.

[2021-03-27 03:14] shashankmotruri commented on #266
@Alenjojo Can you elaborate more on what you want to accoplish?

[2021-03-27 03:39] Jyoti-S-16 commented on #271
Hi, good morning I would like to work on this issue .

[2021-03-27 04:09] gauravdas014 commented on #271
@Jyoti-S-16 please go ahead

[2021-03-27 04:10] gauravdas014 commented on #270
@HarshitAditya27 please go ahead

[2021-03-27 04:30] Jyoti-S-16 commented on #271
Thanku sir

On Sat, 27 Mar 2021 at 09:39, Gaurav Das ***@***.***> wrote:

[2021-03-27 05:20] nishant23122000 opened #273 "moving on redux"
### **Explain what you did (Required)**

As we discussed in issue #157, the first step I want to do is to start handling state with redux, because in the future there might be a case where it's very hard to handle state with passing data from parent to child and all, so we need to manage the whole state of the project with the help of redux.

### **Expected behavior (Required)**

We just need to c

[2021-03-27 06:16] promaroy opened #274 "add toggle password-visibility feature for signup/login forms"
### **Is your feature request related to a problem? Please Describe.**

Toggle password-visibility feature in forms provides a better user experience.

### **Additional context**

As a GSSOC '21 participant, I would like to add this feature.

[2021-03-27 06:16] promaroy commented on #274
Kindly assign me this issue

[2021-03-27 06:22] shashankmotruri commented on #274
@promaroy make sure you read contributing guidelines.

[2021-03-27 09:43] himanshujaidka commented on #267
ok

[2021-03-27 09:54] #267 closed

[2021-03-27 10:18] Mayank4git commented on #269
i want to work on this issue please assign this to me

[2021-03-27 10:19] gauravdas014 commented on #269
@Mayank4git PLease go for it.

[2021-03-27 10:24] raks924 commented on #199
@priyanshisharma  i would like to work on this. kindly assign me?

[2021-03-27 14:59] pooja2299 commented on #271
Hi, @gauravdas014 . Since all the issues are taken up , can i also work on this ?

[2021-03-27 15:04] shashankmotruri opened #276 "feat : 404 error page"
- Make sure header and footer are included.

[2021-03-27 15:11] shashankmotruri commented on #271
@Jyoti-S-16 you can create new issues as this issue is already assigned.

[2021-03-27 15:55] EANimesha commented on #276
I am gssoc participant. Can I work on this issue?

[2021-03-27 16:28] mansijain980 opened #277 "Update Readme"
Update Readme with some gifs and emojis and to start development mode we can add commands in readme.
Please assign it to me.

[2021-03-27 18:57] shashankmotruri commented on #277
@mansijain980 For how to start the project is already mentioned in contributing.md . .

[2021-03-27 19:41] mansijain980 commented on #277
@shashankmotruri yes sir bt i thought it is looking simple so it can be attractive with gifs nd all.

[2021-03-28 05:56] raks924 commented on #276
i want to work on this issue. Kindly assign me this issue.

[2021-03-28 05:57] raks924 commented on #277
can i work on this issue?

[2021-03-29 08:52] #277 closed

[2021-03-29 08:52] gauravdas014 commented on #273
@pkspyder007

[2021-03-29 11:21] #260 closed

[2021-03-29 16:31] sarala-2210 opened #281 "Correction of spellings, grammatical and punctuation errors in the README.md"
Hello mentors , I would like to correct some of the spellings, grammatical and punctuation errors in the README.md. Looking forward to working on this issue as a GSSOC 21 participant. Thank you:)

[2021-03-29 18:20] pkspyder007 commented on #273
@nishant23122000  Yes you can start working on this. Just make sure to go through the api structure and share the proposed redux store structure

[2021-03-29 19:50] gauravdas014 commented on #281
@sarala-2210 can you show the errors? Screenshots may be!

[2021-03-30 09:32] oneknucklehead commented on #255
I have sent a basic Dark UI screenshot to one of our mentors @shashankmotruri. Please review it and tell me whether I should continue with the project or not.

[2021-03-30 10:34] sarala-2210 commented on #281
![Screenshot (61)](https://user-images.githubusercontent.com/52791971/112973528-11258100-916f-11eb-9e9c-608198cbb090.png)
@gauravdas014 and some more minor changes like,
bugfixes->bug fixes
bugs which have ->bugs that have
voices from -> voices of
diversity centric -> diversity-centric
 To Add: DEI means Diversity Equity & Inclusion

[2021-03-30 18:49] gauravdas014 commented on #281
@sarala-2210 Go Ahead

[2021-03-31 05:27] shitesh2607 commented on #276
I'm working on this issue.

[2021-03-31 08:15] HarshCasper opened #286 "Activation of DeepSource"
Hi 👋

One of my Pull Requests around fixing Code Quality Issues with DeepSource was merged here: https://github.com/girlscript/feminist-bible-phase-2/pull/206

I'd just like to inform you that the issues fixed here were detected by running DeepSource analysis on the repo. If you like, you can activate analysis for your repository to detect such code quality issues/bug risks on the fly for every ch

[2021-03-31 17:45] Inventor77 commented on #255
@oneknucklehead hey Please let me work with you on this Issue I will  help you with HTML CSS and JS

[2021-03-31 18:31] #281 closed

[2021-03-31 19:40] pooja2299 opened #288 "Issue in responsiveness of navbar"
### **Explain what you did (Required)**
I reduced the screen size to check the mobile responsiveness of the webpage of feminist bible.

### **Expected behavior (Required)**
Navbar should collapse when reduced to mobile screen and expand when its desktop view.

### **Describe the bug (Required)**
When reduced to mobile view the navbar doesn't collapse and all the dropdown elements are visible. It c

[2021-04-01 02:43] shashankmotruri commented on #288
@pooja2299  I think its a bug. please go ahead.

[2021-04-01 06:34] gauravdas014 commented on #286
Hi @HarshCasper! for activating DeepSource admin's approval is required. This repository is a part of the GirlScript Foundation Organization. So, it may take some time to get the request approved by the owner.

[2021-04-01 06:46] HarshCasper commented on #286
Sure. Please let me know if any help would be needed.

[2021-04-01 08:10] pooja2299 commented on #288
Ok. Thanks!

[2021-04-01 10:10] pooja2299 commented on #288
Thanks!

[2021-04-01 19:56] #168 closed

[2021-04-03 08:09] jhasuraj01 opened #294 "Feat: Validate cookies before accessing protected routes"
### **Problem**
Cookies are not validated before accessing the protected path

### **Solution**
Create a Middleware which will validate the cookies first with each request coming to ```/api/secure/*``` before giving access to private routes
[code]

### **Additional context**
I am a GSSoC participant and I would like to work on this issue

[2021-04-03 13:51] nishant23122000 commented on #273
I had a load of my semester exam but now I can focus on feminist bible, I appreciate your patience.
So, as I mentioned in an issue we should move towards redux, I analyze the project structure of the frontend and backend both. and our goal is to connect frontend with backend.

- The first step in redux to create a store and connect a store with react application and global store.

According to the

[2021-04-03 13:59] GurshehzadSingh commented on #268
I will be sending the PR tomorrow for this issue.

[2021-04-03 16:44] gauravdas014 commented on #268
@GurshehzadSingh okay !

[2021-04-03 16:49] gauravdas014 commented on #273
@nishant23122000 You can create a folder as `redux` inside the `frontend` directory and then add all the files related to redux in this folder. This way the structure will be cleaner. @pkspyder007 anything from your side?

[2021-04-03 18:02] nishant23122000 commented on #273
Yes,that's also great , ok i will create redux file so it will be easy to understand code structure. If all is ok then can i start work or anything have to change?

[2021-04-03 23:49] akshay1027 opened #295 "Linkedin profile links to open in new tab"
### **Is your feature request related to a problem? Please Describe.**
Linkedin profile links to open in new tab so that its easier for user to come back to codebase!

[2021-04-04 17:50] gauravdas014 commented on #273
@nishant23122000 Start the work!

[2021-04-04 17:51] gauravdas014 commented on #295
@akshay1027 You can give the PR.

[2021-04-04 17:53] gauravdas014 commented on #294
@jhasuraj01 Instead of using /secure it's better to use a middleware that will verify this.

[2021-04-04 17:53] #266 closed

[2021-04-04 17:53] gauravdas014 commented on #266
This was inactive for a long time. So I closed.

[2021-04-04 18:01] akshay1027 commented on #295
I found out now that we can't do this on Github! here is the link to that: mojombo/github-flavored-markdown#28
so I will close this.

[2021-04-04 18:01] #295 closed

[2021-04-04 20:58] Spring-dot opened #297 "Update ReadMe with GSSoC'21 guidelines"
### **Is your feature request related to a problem? Please Describe.**

Any new contributor (participant of GSSoC'21) should know all the guidelines, score table, FCFS etc when land to github repo.

### **Describe the solution you'd like**

Add a section in ReadMe with the heading 'GSSoC'21 guidelines' and all points will be covered in it.

### **Describe alternatives you've considered**

We can p

[2021-04-05 06:22] jhasuraj01 commented on #294
Okay I would try implementing in other way

[2021-04-05 06:31] gauravdas014 commented on #294
@jhasuraj01. Make a middleware function and attach it to the routes

[2021-04-05 16:16] gauravdas014 commented on #297
@Spring-dot We don't need this. So closing the issue.

[2021-04-05 16:16] #297 closed

[2021-04-05 16:21] Spring-dot commented on #297
@gauravdas014 is there any issue unassigned? or what are project goals, how can I know the updates?

[2021-04-05 16:27] gauravdas014 commented on #297
@Spring-dot We need participants who can work on API integration and testing of the API. Moreover, you can check the frontend part, and if you find any bug can report it.

[2021-04-05 19:06] GurshehzadSingh commented on #268
I have completed all requirements. Kindly review and merge the PR. Thanks for the opportunity!

[2021-04-06 02:52] #268 closed

[2021-04-06 02:57] gauravdas014 commented on #288
@pooja2299 What's the progress?

[2021-04-06 05:04] #294 closed

[2021-04-06 05:12] gauravdas014 opened #300 "Add email validator to adminModel and orgModel"
Use `validator` package for the implementation

[2021-04-06 05:19] gauravdas014 opened #301 "API documentation"
We need detailed API documentation which will be helpful for those who will work on API integration. If you want to work on this issue, please share your ideas on how you will be proceeding.

[2021-04-06 05:24] jhasuraj01 opened #302 "API Documentation is required for testing and reference"
### Currently we need to dig into the files to check which parameters are need to be passed with api request

### **Describe the solution you'd like**

There is a VS Code extension to deal with this problem

Below is the Screenshot of how this works
![image](https://user-images.githubusercontent.com/44930179/113662543-e9ca3900-96c5-11eb-850c-990788e696fd.png)

![image](https://user-images.githubus

[2021-04-06 05:29] jhasuraj01 commented on #301
@gauravdas014 I created the similar issue#302 please review that too and close anyone

[2021-04-06 05:32] jhasuraj01 commented on #301
@gauravdas014 I created the similar issue #302 😅. Please review that and close anyone

[2021-04-06 05:34] gauravdas014 commented on #302
@jhasuraj01 Does the .rest file work outside vs code? We will need something that can be opened from anywhere.

[2021-04-06 05:35] #301 closed

[2021-04-06 05:39] jhasuraj01 commented on #302
As ```.rest``` file is user defined, we no need to worry about it, I have selected this file extension because that extension supports it. Also, as this file contains raw request I guess it may work with curl too.

[2021-04-06 06:18] gauravdas014 commented on #302
@jhasuraj01 You can start the work. First, give a PR that shows your implementation, write for a single API, if anything is to be changed I will notify, then you can proceed with all the APIs

[2021-04-06 06:20] jhasuraj01 commented on #302
Can I created multiple PRs for each API as I would have to ready the whole code for each API

[2021-04-06 06:37] gauravdas014 commented on #302
@jhasuraj01 you can make around three PRs (one for admin & user, one forum and post, and one for the rest), if you give individual prs then it will be a Level2 PR, or you can submit a single PR which will be Level3, so whatever you prefer you can do.

[2021-04-06 06:38] gauravdas014 commented on #302
You can create sub-tasks in this issue(checkboxes) which will help in keeping track of the work done and left, which are under this issue.

[2021-04-06 06:40] jhasuraj01 commented on #302
I haven't solved any level2 PR so I will go with 3PR option

[2021-04-06 10:22] khushi935 commented on #300
Can I work on this ?

[2021-04-06 10:55] pooja2299 commented on #288
Hi @gauravdas014 . I am not familiar with react js, so I was reading about it. Now I am working on the issue. My approach is to set the correct condition for navHidden so that it correctly shows navbar in both the screen.

[2021-04-06 11:20] gauravdas014 commented on #300
@khushi935 Go ahead

[2021-04-06 15:20] khushi935 commented on #300
Can you please suggest to me some references so that I can learn and do it?

[2021-04-06 16:50] gauravdas014 commented on #300
@khushi935 see userModel.js in the backend folder and you will get to know how to use validator

[2021-04-07 12:38] khushi935 commented on #300
![Screenshot (205)](https://user-images.githubusercontent.com/62712155/113867286-fcc73100-97cb-11eb-9ed6-4fcb713c5c40.png)
Please have a look.
I just added a validate line in both the files. This is correct? Or should I need to do something else?

[2021-04-07 17:09] gauravdas014 commented on #300
@khushi935 You need to also import the validator package at the top.

[2021-04-08 05:20] khushi935 commented on #300
okay done

[2021-04-08 05:32] tanishq-arya commented on #288
@gauravdas014 Can I work on this along with @pooja2299 ?

[2021-04-08 05:40] gauravdas014 commented on #288
@tanishq-arya It's a very small issue. Please create some issue if you would like to work on.

[2021-04-08 05:41] gauravdas014 commented on #300
@khushi935 If you are done, you can open a PR mentioning this issue

[2021-04-08 06:55] jhasuraj01 commented on #302
@gauravdas014 I am stuck at Admin API

I guess currently newly created organization doesn't need any approval. If it has been implemented please lemme know. Also please tell me how shall I proceed further?

[2021-04-08 06:58] jhasuraj01 commented on #302
Shall I create new issue for this?

[2021-04-08 07:19] gauravdas014 commented on #302
@jhasuraj01 The current flow is: When the organization will sign up, we will keep a field let say `approved` to be false. Once the admin approvess we will simply mark this as true. When signing in we will need to verify if that boolean is true or false and we will have to allow accordingly. Currently, there is a controller function to approve the request, but I think there's some error currently,

[2021-04-08 07:20] gauravdas014 commented on #302
@jhasuraj01 Can you verify the approval system and let me know?

[2021-04-08 07:29] jhasuraj01 commented on #302
[code]

As you can see in the above code there is no such field called approved and declined

[2021-04-08 07:34] jhasuraj01 commented on #302
Also tell me, who is admin and what is its scope?

[2021-04-08 08:08] gauravdas014 commented on #302
This website is for the Organization named `Feminist Bible`. Assume the founders of `Feminist Bible` are the admins. Many other organizations can sign up to be a part of the `Feminist Bible`. So when those organizations will register the admins of the feminist bible will verify. So the admin refers to the `Feminist Bible` team.

[2021-04-08 08:09] gauravdas014 commented on #302
Please create a corresponding issue.

[2021-04-08 08:26] jhasuraj01 opened #307 "Newly Created Organizations are needed to be approved by admins"
On creation of new organization create two boolean fields ```approved``` and ```declined``` and set it to false.

Make all the required changes in order to create api for full verification process.

[2021-04-08 08:28] jhasuraj01 commented on #307
@gauravdas014 , I would like to proceed with this issue before #302 such that I could make necessary testing before creating doc for it

[2021-04-08 09:45] akshatvirmani opened #308 "To add contributor's name in README.md file"
### **Is your feature request related to a problem? Please Describe.**

To add contributor's name in README.md file.

[2021-04-08 09:46] akshatvirmani commented on #308
I would like to work on this issue. Kindly assign this to me.

[2021-04-08 21:10] #300 closed

[2021-04-08 21:12] gauravdas014 commented on #308
@akshatvirmani We don't need this, at least for now! You may create some other issue.

[2021-04-08 21:12] #308 closed

[2021-04-08 23:21] jhasuraj01 commented on #302
@gauravdas014 I have completed all the steps as mentioned in this and #307 issue and created 3 PRs of level2 in total kindly review each

[2021-04-09 04:53] #302 closed

[2021-04-09 06:09] #307 closed

[2021-04-09 08:01] vineetsingh0809 opened #314 "Enhancement of UI of the Website [GSSoC 21]"
I looked upon the website and want to enhance the UI of the website by changing some colors, adding some new buttons, modifying the CSS, and extra.
So could you assign e this issue...??

[2021-04-10 08:00] Shivangi-ch commented on #314
Can you assign this to me?

[2021-04-11 15:36] shashankmotruri commented on #314
@vineetsingh0809  Can Tou elaborate more?

[2021-04-11 15:37] shashankmotruri commented on #276
@EANimesha Any Update?

[2021-04-11 15:38] shashankmotruri commented on #222
@WaderManasi Any Update?

[2021-04-11 15:44] WaderManasi commented on #222
Yes! @shashankmotruri
Will commit changes by tomorrow

[2021-04-11 16:10] EANimesha commented on #276
will give update by today

[2021-04-14 22:04] gauravdas014 commented on #254
@singhayushh Are you working on it?

[2021-04-14 22:06] gauravdas014 commented on #269
@Mayank4git Are you working on it?

[2021-04-14 22:07] gauravdas014 commented on #271
@Jyoti-S-16 Are you working on this issue?

[2021-04-15 04:08] singhayushh commented on #254
@gauravdas014
I've been having exams in college and I couldn't work on it..

[2021-04-15 05:03] Jyoti-S-16 commented on #271
This issue was resolved.

On Thu, 15 Apr 2021 at 03:37, Gaurav Das ***@***.***> wrote:

[2021-04-15 05:42] gauravdas014 commented on #254
@singhayushh May I unassign you or you would like to work in a couple of days?

[2021-04-15 05:44] gauravdas014 commented on #271
@Jyoti-S-16 what is the PR no?

[2021-04-15 06:00] Jyoti-S-16 commented on #271
Sorry but I don't know where i can see my PR no.

[2021-04-15 06:01] Jyoti-S-16 commented on #271
But it was closed
![Screenshot from 2021-04-15 11-31-04](https://user-images.githubusercontent.com/54734553/114821410-242a8900-9dde-11eb-81c4-39ee90bdd802.png)

[2021-04-15 06:12] singhayushh commented on #254
Can we break it into multiple assignees?
I'll write tests for say, user and admin routes
Someone else continues the tests for other routes?

[2021-04-15 06:23] gauravdas014 commented on #254
@singhayushh That's also fine. You can directly give PR, just mention that PR is a part of this issue. Or you can create a separate issues also.

[2021-04-15 06:24] gauravdas014 commented on #271
@Jyoti-S-16 please check in the closed PRs, you will definitely find it.

[2021-04-15 06:27] Jyoti-S-16 commented on #271
#279

[2021-04-15 11:04] singhayushh commented on #254
Hey, sorry to inform but I'm unable to give enough time to the issue rn. I'd opt to be unassigned for now and let others work on this.

Sorry for the inconvenience, if caused.

[2021-04-15 11:20] gauravdas014 commented on #254
That's fine.

[2021-04-20 06:07] sreeharianilkumar1 opened #331 "Typo in Registration Page"
![Capture](https://user-images.githubusercontent.com/23502662/115345449-713aa080-a1cc-11eb-9b44-24ef6d1ba6b6.PNG)

Please assign me this issue

File location:  feminist-bible-phase-2\frontend\src\pages\Registration\Registration.jsx

[2021-04-24 03:44] Ankita297 opened #341 "Auto merge PR from dependabot"
### **Is your feature request related to a problem? Please Describe.**

github action to Auto merge PR from dependabot

### **Describe the solution you'd like**

### **Describe alternatives you've considered**

### **Additional context**

[2021-04-24 10:25] vanshika-bhasin opened #342 "Issue in responsiveness of code-of-conduct page"
### **Explain what you did (Required)**
Opened the code of conduct page of feminist bible from the footer on its web-page.

### **Expected behavior (Required)**
Text in the web-page should have been aligned on the screen and all the points should be having same styling.

### **Describe the bug (Required)**
The second point on code-of-conduct page does not align in same line with point 1.

Also, on

[2021-04-25 04:45] gauravdas014 commented on #342
@vanshika-bhasin Go ahead.

[2021-04-25 04:46] gauravdas014 commented on #341
@Ankita297 sometimes, in the updated version, breaking changes are introduced, so it's better to manually look into the PR and then merge, just for being on the safer side.

[2021-04-25 06:55] vanshika-bhasin commented on #342
Thanks

[2021-04-25 11:37] #341 closed

[2021-04-26 06:13] subhangi2731 commented on #254
please assign me this.

[2021-04-26 06:14] subhangi2731 commented on #314
please assign me this

[2021-04-26 06:42] gauravdas014 commented on #254
@subhangi2731 Please explain how you will proceed? What tools of testing you are planning to use?

[2021-04-26 07:08] subhangi2731 commented on #254
I will use postman to test API endpoints or the citrus as I am familiar with them

[2021-04-26 08:01] gauravdas014 commented on #254
@subhangi2731 Have you used `supertest` before? It is used for API testing

[2021-04-26 08:24] subhangi2731 commented on #254
yes I have It is used to test HTTP endpoints and for that we need supertest module and install its dependecies

[2021-04-26 11:07] gauravdas014 commented on #254
@subhangi2731 go ahead with the issue. First, write tests for the users and give PR. After its reviewed please continue with the rest

[2021-04-27 05:57] subhangi2731 commented on #254
sure @gauravdas014

[2021-04-27 10:04] srishtij2000 commented on #288
Can I work on this issue?

[2021-04-27 14:49] Kalashri99 commented on #269
Can I work on this issue?

[2021-04-27 17:28] gauravdas014 commented on #269
@Kalashri99 please go ahead

[2021-05-10 09:51] hellosreehari opened #372 "Fix Console Errors on Code of Conduct page"
![console errors](https://user-images.githubusercontent.com/23502662/117640910-2694be80-b1a3-11eb-8b3d-e58879a6a993.PNG)

I'll fix the console errors on the code of conduct page.
Please assign me this issue

[2021-05-11 18:15] subhangi2731 commented on #255
can I work on this issue @shashankmotruri assign it to me please

[2021-05-11 18:19] subhangi2731 commented on #130
I want to work on this please assign me @pkspyder007 I will share u the implementation within  2 days

[2021-05-14 12:59] subhangi2731 commented on #254
@gauravdas014 can u please reply so that i can send a pr

[2021-05-14 13:01] subhangi2731 commented on #199
@gauravdas014 Please assign me this I know this

[2021-05-14 13:02] subhangi2731 commented on #200
@gauravdas014 Please assign this to me

[2021-05-14 13:17] gauravdas014 commented on #254
You have to write tests for all the endpoints.

[2021-05-14 13:34] subhangi2731 commented on #254
okay done

[2021-05-14 14:42] subhangi2731 commented on #130
@gauravdas014 @pkspyder007 can u plesse guide me on how will I start for this and what exactly I have to do and using what??

[2021-05-14 19:15] #276 closed

[2021-05-14 19:17] gauravdas014 commented on #130
@subhangi2731 We don't need this as of now. Therefore I am closing the issue.

[2021-05-14 19:17] #130 closed

[2021-05-14 19:17] gauravdas014 commented on #372
@sreeharianilkumar1 Fix it and give a PR

[2021-05-14 19:19] #314 closed

[2021-05-14 19:19] #286 closed

[2021-05-14 19:19] #270 closed

[2021-05-15 04:45] subhangi2731 commented on #255
@gauravdas014 can I work on this please since u closed a level 3 issue in which I was assigned please let me work on this

[2021-05-15 04:47] subhangi2731 opened #387 "Linting the code and setting up Eslint"
I will set up Eslint in project and lint the code and make the code prettier

[2021-05-15 04:48] subhangi2731 commented on #387
@gauravdas014 please assign me this issue

[2021-05-15 09:13] subhangi2731 commented on #387
/assign

[2021-05-15 09:14] subhangi2731 commented on #255
/assign

[2021-05-15 13:04] subhangi2731 commented on #387
@gauravdas014 please assign me so that I can start working. I have experience in linting and eslint

[2021-05-15 13:45] subhangi2731 commented on #255
@shashankmotruri please assign this to me I will send a pr by tomorrow

[2021-05-15 13:46] subhangi2731 commented on #387
@shashankmotruri please assign me this

[2021-05-16 16:05] Jassi10000 commented on #255
@pkspyder007 Buddy , I would like to try my hands out on this
Assign me

[2021-05-16 16:11] subhangi2731 commented on #255
@Jassi10000 I had commented first and that too so many times so I should be assigned first I guess

[2021-05-16 16:12] Jassi10000 commented on #255
Sure , no issues
you can take that
Gud luck

[2021-05-16 17:36] subhangi2731 commented on #254
@gauravdas014 https://github.com/girlscript/feminist-bible-phase-2/blob/master/backend/.env.example in this how to bring all these four??
JWT_EXPIRES_IN=JWT expiry time
JWT_SECRET=JWT Secret
JWT_COOKIE_EXPIRES_IN=cookie expiry time
JWT_COOKIE_DOMAIN=.example.com

[2021-05-16 17:36] subhangi2731 commented on #254
@gauravdas014 please help so that I can make a pr

[2021-05-16 18:27] singhayushh commented on #254
@subhangi2731

JWT_EXPIRES_IN=86400000
JWT_SECRET=123xyz.xyz123
JWT_COOKIE_EXPIRES_IN=8640000
JWT_COOKIE_DOMAIN=http://localhost

[2021-05-17 09:11] gauravdas014 commented on #387
@subhangi2731 Sorry for the late reply. You can work on the issue.

[2021-05-18 13:43] subhangi2731 commented on #254
@gauravdas014 @singhayushh while doing npm run dev http://localhost:8080/api/user
this is coming Unauthorized why please tell me

[2021-05-18 14:18] singhayushh commented on #254
@subhangi2731
The route requires the request to be coming from an authenticated user
So you need to first hit the login / sign in route and then use these routes.

[2021-05-18 17:54] subhangi2731 commented on #254
@singhayushh @gauravdas014 how to authorize and where is the signup route

[2021-05-18 17:55] subhangi2731 commented on #254
can u please tell me in detail @singhayushh

[2021-05-18 18:00] gauravdas014 commented on #254
Please check the api-docs for the required routes. The sign up route is in authRoutes.js

[2021-05-19 03:46] subhangi2731 commented on #254
ok @gauravdas014 what ill be the endpoint for signing up in this route

[2021-05-19 03:54] singhayushh commented on #254
@subhangi2731 please go through the code. Just knowing the endpoint isn't enough.

[2021-05-20 15:15] subhangi2731 commented on #254
![IMG-20210520-WA0018](https://user-images.githubusercontent.com/53938490/119004447-3767e000-b9ac-11eb-8283-0e54cd961626.jpg)
![IMG-20210520-WA0018 (1)](https://user-images.githubusercontent.com/53938490/119004478-3df65780-b9ac-11eb-99a1-caa6a6c4cb03.jpg)

[2021-05-20 15:16] subhangi2731 commented on #254
@gauravdas014 please check signup is not happening by any route

[2021-05-20 23:22] singhayushh commented on #254
@subhangi2731 it's a post request and not a get request. Please go through the code thoroughly before writing tests.

[2021-05-24 18:00] subhangi2731 opened #396 "API Testing for the user endpoint"
I will do the API testing for the users endpint

[2021-05-24 18:00] subhangi2731 commented on #396
@gauravdas014 please assign this to me

[2021-05-24 18:01] gauravdas014 commented on #396
@subhangi2731 create issues for other tests once you are done with this one

[2021-05-24 18:01] subhangi2731 opened #397 "API Testing for the Story endpoint"
I will do the API Testing for the Story endpoint

[2021-05-24 18:02] subhangi2731 commented on #397
@gauravdas014 please assign this issue

[2021-05-25 04:28] #254 closed

[2021-05-26 17:48] #342 closed

[2021-05-27 15:49] kumarishalini6 opened #407 "Adding social media icons at the home page"
Want to add social media icons with hover effect at the home it gives a beautiful looks to the project.
like:--

![Foss Events and 1 more page - Personal - Microsoft​ Edge 5_27_2021 09_16_54 PM](https://user-images.githubusercontent.com/69043944/119857483-13326480-bec0-11eb-84f6-cd039499b583.png)

[2021-05-28 18:45] subhangi2731 commented on #397
@gauravdas014   before testing i logged in with an existing user in the database
but still sending a GET request to /api/story/all shows unauthorized
what should I do??

[2021-09-17 07:46] 4neesc0des commented on #407
can I work on this issue??